@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

html[lang='ar'] {
    height: 100%;
    font-size: 14px;
    line-height: 1.2;
    direction: rtl !important;
}

html[lang='en'] {
    height: 100%;
    font-size: 14px;
    line-height: 1.2;
    direction: ltr !important;
}

body {
    font-family: 'Cairo', sans-serif;
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

.layout-wrapper {
    min-height: 100vh;
}
